@import url("https://fonts.googleapis.com/css?family=Cousine:400i");
h1 {
  margin-left: 25vw;
  margin-top: 30px;
  font-size: 20px; }

body, body .input {
  font-family: "Cousine", monospace; }

#keys {
  font-size: 12px;
  position: fixed;
  top: 15px;
  left: 15px; }

.key {
  background-color: rgba(211, 211, 211, 0.3);
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 3px 5px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  bottom: 1px; }

#proof-root {
  width: 50vw;
  margin: 50px 25vw;
  margin-bottom: 500px;
  box-sizing: border-box; }

.context {
  border-left: 3px solid black;
  margin-left: 5px;
  margin-right: 0; }

.invalid {
  background-color: rgba(255, 0, 0, 0.2); }

.parse-error {
  background-color: rgba(255, 165, 0, 0.4); }

.input {
  width: 80%;
  padding-right: 10px; }

.line {
  border: 0;
  margin: 3px 0;
  padding: 3px 10px;
  width: 100%;
  color: rgba(0, 0, 0, 0);
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .line, .line .input {
    font-size: 14px !important; }
  .line .overlay, .line .input {
    letter-spacing: 4px; }
  .line:first-of-type {
    border-bottom: 1px solid black; }
  .line .lineno {
    color: black;
    margin-right: 8px; }
    .line .lineno::after {
      content: ":"; }
  .line .proof {
    color: black;
    margin: 0;
    float: right; }
  .line .input-group {
    position: relative; }
    .line .input-group .overlay {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
      color: black;
      pointer-events: none; }
    .line .input-group .input {
      border: none;
      background: transparent;
      outline: none;
      position: relative;
      color: transparent;
      caret-color: black; }

.context {
  border-color: black; }
  .context > .context {
    border-color: red; }
    .context > .context > .context {
      border-color: blue; }
      .context > .context > .context > .context {
        border-color: green; }
        .context > .context > .context > .context > .context {
          border-color: pink; }
          .context > .context > .context > .context > .context .context {
            border-left-style: dashed; }
          .context > .context > .context > .context > .context > .context {
            border-color: red; }
            .context > .context > .context > .context > .context > .context > .context {
              border-color: blue; }
              .context > .context > .context > .context > .context > .context > .context > .context {
                border-color: green; }
                .context > .context > .context > .context > .context > .context > .context > .context > .context {
                  border-color: pink; }
                  .context > .context > .context > .context > .context > .context > .context > .context > .context .context {
                    border-left-style: solid;
                    border-color: black; }

.flash {
  animation: flash 5s; }

@keyframes flash {
  0% {
    background-color: transparent; }
  5% {
    background-color: red;
    color: white; }
  10% {
    background-color: rgba(255, 0, 0, 0.2);
    color: black; }
  100% {
    background-color: transparent; } }

/*# sourceMappingURL=css.css.map */
