@import url('https://fonts.googleapis.com/css?family=Cousine:400i')

$sidebar-width: 20%

h1
  margin-top: 30px
  font-size: 20px

#outputtext
  width: 100%
  max-width: 100%
  min-width: 100%
  display: none
  &.filled
    display: inline-block
    padding: 3px
    height: 100px
    border: 1px solid lightgrey
  &:focus
    outline: none
    border: 1px solid grey

a
  text-decoration: none
  color: black
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
  padding-bottom: 0
  &:hover
    cursor: pointer
    border-bottom-color: black
  &.button
    display: inline-block
    padding: 5px 8px
    border-radius: 2px
    border: 1px solid lightgrey
    &:hover
      border-color: grey
      background-color: rgba(0, 0, 0, 0.05)
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.2)

body
  &, .input
    font-family: 'Cousine', monospace

#meta
  h4, p
    margin: 0
    margin-bottom: 5px
  position: fixed
  box-sizing: border-box
  width: $sidebar-width
  margin-left: 100% - $sidebar-width
  left: 0
  top: 0
  height: 100%
  line-height: 1.5em
  font-size: 12px
  padding: 15px
  overflow-y: auto

#proof-wrap
  position: fixed
  left: 0
  top: 0
  box-sizing: border-box
  width: 100% - $sidebar-width
  padding: 0 100px
  padding-bottom: 150px
  height: 100%
  overflow-y: auto

.key
  background-color: transparentize(lightgrey, 0.7)
  border: 1px solid lightgrey
  border-radius: 3px
  padding: 2px 5px
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5)
  position: relative
  bottom: 1px
  &:hover
    border-color: grey
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5)

#proof-root
  width: 100%
  margin-top: 50px
  box-sizing: border-box

.context
  border-left: 4px solid black
  margin-left: 6px
  margin-top: 4px
  margin-bottom: 4px
  &+.context // Useful to have a big gap between sequential contexts
    margin-top: 12px
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3)

.invalid
  background-color: rgb(255, 100, 100)
  .lineno, .overlay, .proof
    color: white !important
    font-weight: bold

.overlay
  white-space: pre

.input
  width: 70%
  padding-right: 10px // Give cursor room to be visible

.line
  box-sizing: border-box
  &, .input
    font-size: 14px !important
  .overlay, .input
    letter-spacing: 4px
  border: 0
  margin: 0
  padding: 4px 10px
  width: 100%
  color: rgba(0, 0, 0, 0)
  position: relative

  &:not(:last-child)
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  &:first-of-type
    border-bottom: 1px solid black

  .lineno
    color: black
    margin-right: 8px
    &::after
      content: ":"
  .proof
    color: black
    margin: 0
    float: right
  .input-group
    position: relative
    .overlay
      position: absolute
      left: 0px
      top: 0px
      height: 100%
      color: black
      pointer-events: none
    .input
      border: none
      background: transparent
      outline: none
      position: relative
      color: transparent
      caret-color: black

.flash
  animation: flash 5s

@keyframes flash
  0%
    background-color: transparent
  5%
    background-color: red
    color: white
  10%
    background-color: transparentize(red, 0.8)
    color: black
  100%
    background-color: transparent

.rule
  letter-spacing: 2px

